body {
  margin: 0px;
}
/* topnav bar line start */
.top-nav {
  display: flex;
  /* width: 100%;
  height: 60px; */
  background-color: #684299;
  justify-content: space-between;
  box-shadow: 0px 2px gray;
}
.main-site-name {
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  margin-left: 15px;
  align-self: center;
  font-weight: bold;
}
.top-nav-left {
  display: flex;
  align-items: center;
}
.top-nav-right {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.top-nav-right-item {
  text-decoration: none;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  color: white;
}
.active:active {
  color: white;
}
.top-nav-right-item:hover {
  color: silver;
  margin-top: 2px;
  text-decoration: underline;
}
.main-logo {
  width: 50px;
  height: 50px;
  margin-left: 15px;
}
/* top nav bar line end */
.container-main {
  width: 100%;
  height: 4000px;
  background-color: black;
  display: flex;
  justify-content: center;
}
.container-main-heder {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 4000px;
  background-color: #191919;
}
.second-navbar {
  margin-top: 8px;
  display: flex;
}
.search-icon {
  display: flex;
  margin-top: 5px;
}
.input-sear-line {
  display: flex;
  width: 400px;
  height: 30px;
  border-radius: 7px;
  border: 1px solid black;
}
.sec-navbar {
  width: 100%;
  justify-content: center;
  display: flex;
}
.sec-navbar-items {
  display: flex;
  align-items: center;
}
.search-input {
  width: 500px;
  height: 30px;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid black;
}
.search-icon {
  color: black;
  margin-left: 5px;
}
.hr-line {
  margin-top: 15px;
  width: 1000px;
  border-top: 1px solid #38444d;
}
.types-movies {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.types-movies-btn {
  display: flex;
}
.types-movies-btn-link {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  margin: 0px 5px ;
  font-weight: 500;
  color: white;
}
.btn-one {
  border-radius: 6px;
  background-color: #44b81a;
  padding: 8px 6px;
  box-shadow: 0px 0px 32px -10px black;
}
.btn-two {
  border-radius: 6px;
  padding: 8px 5px;
  box-shadow: 0px 0px 32px -10px black;
  background-color: red;
}
.btn-three {
  border-radius: 6px;
  box-shadow: 0px 0px 32px -10px black;
  padding: 8px 6px;
  background-color: #009de1;
}
.btn-four {
  box-shadow: 0px 0px 32px -10px black;
  border-radius: 6px;
  padding: 8px 6px;
  background-color: #df9a17;
}
.movies-types-qulity{
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.movies-types-qulity-items{
  display: flex;
}
.link-qulity-items{
  background-color: hsl(266, 36%, 53%);
  font-family: "Poppins", sans-serif;
  border: 1px solid black;
  text-align: center;
  padding: 5px 15px;
  border-radius: 5px;
  color: white;
  margin: 0px 5px ;
  text-decoration: none;
}
.link-qulity-items:hover{
  text-decoration: underline;
  text-align: center;
}