body {
  margin: 0px;
  font-family: "Poppins", sans-serif;
}
/* dmca :start */
.dcma-item {
  margin: 0px;
  font-size: 20px;
  color: rgb(249, 255, 0, 1);
}
/* dcma end */
/* form */
.continer-form {
  /* height: 900px; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.titel {
  background-color: #a07ecc;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  margin: 0px;
  border-radius: 5px;
}

.item1 {
  border-radius: 10px;
  background-color: #684299;
  display: flex;
  flex-direction: column;
  height: 550px;
}

.item2 {
  display: flex;
  gap: 5px;
}

.item3 {
  display: grid;
  gap: 5px;
  margin: 15px 0px;
  color: #ffffff;
}

.item3:nth-child(1) {
  display: flex;
  gap: 5px;
}

.Name {
  display: grid;
  width: 400px;
}

.item4 {
  display: grid;
  gap: 5px;
}

.item4:nth-child(2) {
  display: grid;
  gap: 5px;
  padding: 28px 24px;
  justify-content: end;
}

.Submit {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px gray;
  font-size: 15px;
}

.Submit:hover {
  box-shadow: 2px 2px rgb(43, 30, 30);
  background-color: #a07ecc;
  color: #ffffff;
  font-weight: 600;
}

.back-color {
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: rgb(252, 252, 180);
}

textarea {
  background-color: rgb(252, 252, 180);
  border-radius: 5px;
  border: none;
}

/* form */
/* topnav bar line start */
.top-nav {
  display: flex;
  position: sticky;
  top: 0;
  /* width: 100%;
  height: 60px; */
  background-color: #684299;
  justify-content: space-between;
  box-shadow: 0px 2px gray;
}

.main-site-name {
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  margin-left: 15px;
  align-self: center;
  font-weight: bold;
}
.top-nav-left {
  display: flex;
  align-items: center;
}
.top-nav-right {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.top-nav-right-item {
  text-decoration: none;
  margin-right: 15px;
  font-family: "Poppins", sans-serif;
  color: white;
}
/* .active{
  color: lightgrey;
} */
.top-nav-right-item:hover {
  color: silver;
  margin-top: 2px;
  text-decoration: underline;
}
.main-logo {
  width: 65px;
  height: 50px;
  margin-top: 3px;
  margin-left: 15px;
}
/* top nav bar line end */
.container-main {
  width: 100%;
  height: 4000px;
  background-color: black;
  display: flex;
  justify-content: center;
}
.container-main-heder {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 4000px;
  background-color: #191919;
}
.second-navbar {
  margin-top: 8px;
  display: flex;
}
.search-icon {
  display: flex;
  margin-top: 5px;
}
.input-sear-line {
  display: flex;
  width: 400px;
  height: 30px;
  border-radius: 7px;
  border: 1px solid black;
}
.sec-navbar {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}
.sec-navbar-items {
  display: flex;
  align-items: center;
}
.search-input {
  width: 500px;
  height: 30px;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid black;
}
.search-icon {
  color: black;
  margin-left: 5px;
}
.hr-line {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 1000px;
  border-top: 1px solid #38444d;
}
.types-movies {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.types-movies-btn {
  display: flex;
}
.types-movies-btn-link {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  margin: 0px 5px;
  font-weight: 500;
  color: white;
}
.btn-one {
  border-radius: 6px;
  background-color: #44b81a;
  padding: 8px 6px;
  box-shadow: 0px 0px 32px -10px black;
}
.btn-two {
  border-radius: 6px;
  padding: 8px 5px;
  box-shadow: 0px 0px 32px -10px black;
  background-color: red;
}
.btn-three {
  border-radius: 6px;
  box-shadow: 0px 0px 32px -10px black;
  padding: 8px 6px;
  background-color: #009de1;
}
.btn-four {
  box-shadow: 0px 0px 32px -10px black;
  border-radius: 6px;
  padding: 8px 6px;
  background-color: #df9a17;
}
.movies-types-qulity {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.movies-types-qulity-items {
  display: flex;
}
.link-qulity-items {
  background-color: hsl(266, 36%, 53%);
  font-family: "Poppins", sans-serif;
  border: 1px solid black;
  text-align: center;
  padding: 5px 15px;
  border-radius: 5px;
  color: white;
  margin: 0px 5px;
  text-decoration: none;
}
.link-qulity-items:hover {
  text-decoration: underline;
  text-align: center;
}
.hr-line-main {
  margin-top: 20px;
  margin-bottom: 25px;
  width: 95%;
  background-color: #a07ecc;
}
/* movies card star */
.movies-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.card {
  margin-bottom: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 14.9%;
  /* height: 500px; */
}
.img-details {
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}
.download-link {
  text-decoration: none;
  color: black;
}
.download-link:hover {
  color: #684299;
  text-decoration: underline;
}
.footer {
  width: 100%;
  height: 50px;
  display: flex;
  border-top: 1px solid black;
  background-color: #684299;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-family: "Poppins", sans-serif;
}
.footer-items {
  display: flex;
}
.footeer-right {
  display: flex;
  margin-right: 10px;
}
.footer-name {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.fooete-copyright {
  margin-left: 10px;
}
.one-name-fooetr {
  margin: 0px 10px;
}
.footer-hover:hover {
  text-decoration: underline;
}
/* about :start */

.about-continer {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.about-titel {
  background-color: #a07ecc;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  margin: 0px;
  border-radius: 5px;
}

.about-item {
  border-radius: 10px;
  background-color: #684299;
  width: 800px;
}

.about-item1 {
  color: rgb(229, 231, 235);
  line-height: 1.5;
  font-size: 13.9px;
  letter-spacing: 0.3475px;
  padding: 48px 80px;
}

.about-item2 {
  padding: 0px;
  margin: 0px;
}

.about-item3 {
  color: rgb(34, 211, 238);
}

.about-item4 {
  margin-top: 8px;
}

.about-item5 {
  color: rgb(250, 204, 21);
}

.about-item6 {
  color: rgb(249, 255, 0, 1);
}

.footer-continer-flex {
  border-top: 1px solid rgb(226, 226, 226);
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #684299;
  font-size: 14px;
  color: rgb(229, 231, 235);
}

.footer-item-second {
  color: rgb(229, 231, 235);
  text-decoration: none;
}

.footer-item1 {
  padding-right: 24px;
}
.footer-item-second:hover {
  text-decoration: underline;
}

/* about end */

/* download page */
.flex-d {
  width: 100%;
  display: flex;
  justify-content: center;
}
.flex-d-item-headind {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.flex-d-ul {
  width: 100%;
  display: flex;
  justify-content: center;
}
.flex-d-ull {
  width: 55%;
}
li {
  list-style-type: none;
}
.li-main {
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
.link-nu-head {
  font-family: "Poppins", sans-serif;

  font-weight: bold;
  font-size: 17px;
  margin-bottom: 3px;
}
.li-name-mahiti {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}
.beast-img-widht {
  width: 500px;
}
.flex-d-item-headind-titel {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-top: 20px;
}
.hr-line {
  margin-top: 20px;
  margin-bottom: 15px;
  width: 1000px;
  border: 1px solid white;
}
.hr-line-seco {
  margin-top: 20px;
  margin-bottom: 15px;
  width: 1000px;
  border: 1px solid white;
}
.download-btnnn {
  width: 10rem;
  height: 40px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  color: black;
  font-weight: bold;
}
.download-btnnn:hover {
  background-color: blueviolet;
  color: white;
}
.download-link-720 {
  text-decoration: none;
  color: black;
}
.beast-img-screen-short-top {
  box-shadow: 1px 1px rgb(206, 198, 198);
}
/* alll  meadinAaa  quryyyyyyyyyyyyyyyyyyyyyyyyy */
