.flex-d {
  width: 100%;
  display: flex;
  justify-content: center;
}
body {
  background-color: blueviolet;
  margin: 0;
  color: white;
}
.flex-d-item-headind {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.flex-d-ul {
  width: 100%;
  display: flex;
  justify-content: center;
}
.flex-d-ull {
  width: 55%;
}
li {
  list-style-type: none;
}
.li-main {
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
.link-nu-head {
  font-family: "Poppins", sans-serif;

  font-weight: bold;
  font-size: 17px;
  margin-bottom: 3px;
}
.li-name-mahiti {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}
.beast-img-widht {
  width: 500px;
}
.flex-d-item-headind-titel {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-top: 20px;
}
.hr-line {
  margin-top: 20px;
  margin-bottom: 15px;
  width: 1000px;
  border: 1px solid white;
}
.hr-line-seco {
  margin-top: 20px;
  margin-bottom: 25px;
  width: 1000px;
  border: 1px solid white;
}
.download-btnnn {
  width: 10rem;
  height: 40px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  color: black;
  font-weight: bold;
}
.download-btnnn:hover {
  background-color: blueviolet;
  color: white;
}
.download-link-720 {
  text-decoration: none;
  color: black;
}
.beast-img-screen-short-top {
  box-shadow: 1px 1px rgb(206, 198, 198);
}
.footer-continer-flex {
  border-top: 1px solid rgb(226, 226, 226);
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #684299;
  margin-top: 20px;
  font-size: 14px;
  color: rgb(229, 231, 235);
}

.footer-item-second {
  color: rgb(229, 231, 235);
  text-decoration: none;
}

.footer-item1 {
  padding-right: 24px;
}
